* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #050505;
  color: #d1fae5;
  line-height: 1.6;
}

/* MAIN LAYOUT */

.layout {
  display: flex;
  min-height: 100vh;
}

/* LEFT SIDEBAR */

.sidebar {
  width: 340px;
  min-height: 100vh
